body {
	background: #000;
	color: #fff;
font-family: 'Montserrat', sans-serif;
padding: 0;
margin: 0; 
}
.header {

}

.container {
	width: 1140px;
	margin: 0 auto;
	border: 2px solid red;
	height: 400px;
}
